$dark: #3C3C30;
$light: #DFDCD9;
$pink: #C88F90;
$red: #A84D45;
$peru: #C08F38;

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #C88F90;
    margin-left: 50px;



    .face{
        position: absolute;
        margin-left:70px;
        margin-top: 40px;
        height: 80px;
        width: 100px;
        border-radius: 50%;
        border: 1px solid transparent;
        background-color: $light;
    

        .nose{
            background-color: $red;
            // display: inline-block;
            height: 7px;
            margin: 0 50px;
            position: relative;
            bottom: -45px;
            right: 5px;
            transform: rotate(-45deg);
            width: 7px;
        }

        .nose:before,
        .nose:after {
        content: "";
        background-color: $red;
        border-radius: 50%;
        height: 7px;
        position: absolute;
        width: 7px;
        }

        .nose:before {
            top: -5px;
            left: 0; 
        }

        .nose:after {
            left: 5px;
            top: 0;
        }

        .eye1,.eye2{
            position: relative;
            background-color: $dark;
            height: 20px;
            width: 20px;
            border-radius: 50px;
            float: left;
            top: 25px;
            left: 16px;
        }

        .eye2{
            left:38px;
        }

        .p1,.p2{
            position: relative;
            height: 10px;
            width: 10px;
            border-radius: 50px;
            background-color: white;
            top: 2px;
            left: 7px;
        }

        .r_ear, .l_ear{
            position: relative;
            border-bottom: 35px solid $light;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            float:left;
            bottom:30px;
            left:10px;
            transform-origin: bottom;
        }

        .l_ear{
            bottom: 52px;
            left: -6px;
            transform: rotate(-42deg);
        }

        .r_ear{
            bottom: 25px;
            left: 14px;
            transform: rotate(35deg);
        }

    }

    .tummy{
        position: relative;
        background-color: $light;
        height:50px;
        width: 80px;
        border-radius: 50px 50px 45px 45px;
        top: 60px;
    }

    .tail{
        position: relative;
        height: 70px;
        width: 70px;
        box-shadow: 15px 15px 0 0 $light;
        border-radius: 50%;
        bottom: 35px;
        left: -20px;
        transform-origin: bottom;
        transform: rotate(90deg);
        animation:wag 2s infinite;
        z-index: 4;
    }
}

@keyframes wag{
    50%{
        transform: rotate(220deg);

    }
}

.whiskers1, 
.whiskers2 {
    position: relative;
    height: 4px;
    width: 20px;
    background-color: $red;
    border-radius: 50%;
    float: left;
    right: 20px;
    top: -100px;
}

.whiskers2 {
    left: 78px;
}

.whiskers3, 
.whiskers4 {
    position: relative;
    height: 4px;
    width: 20px;
    background-color: $red;
    border-radius: 50%;
    float: left;
    right: 20px;
    top: -105px;
    transform-origin: bottom;
}

.whiskers4 {
    left: 35px;
    transform: rotate(-25deg);
}

.whiskers3 {
    right: 56px;
    transform: rotate(25deg);
}

.whiskers5, 
.whiskers6 {
    position: relative;
    height: 4px;
    width: 20px;
    background-color: $red;
    border-radius: 50%;
    float: left;
    right: 20px;
    top: -97px;
    transform-origin: bottom;
}

.whiskers5 {
    left: 92px;
    transform: rotate(25deg);
}

.whiskers6 {
    right: 34px;
    transform: rotate(-25deg);
}

