.box .project {
  cursor: pointer;
}

.box .project .original {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: auto;
  border-radius: 5%;
}

.box .project .p6 {
  background-image: url(./docs/mentormarketlogo.png);
  background-size: 250px 250px;
}

.box .project .p1 {
  background-image: url(./docs/catniplogo.png);
  background-size: 250px 250px;
}

.box .project .p2 {
  background-image: url(./docs/helpsheetslogo.png);
  background-size: 250px 250px;
}

.box .project .p3 {
  background-image: url(./docs/wekologo.png);
  background-size: 250px 250px;
}

.box .project .p4 {
  background-image: url(./docs/portfoliologo.png);
  background-size: 250px 250px;
}

.box .project .p5 {
  background-image: url(./docs/Readitnwipelogo.png);
  background-size: 250px 250px;
}

.box .project .p7 {
  background-image: url(./docs/trailerslogo.png);
  background-size: 250px 250px;
}

.box .project .description {
  color: #3C3C30;
  text-align: center;
  width: 230px;
  height: 150px;
  padding: 10px;
  font-size: .7em;
}

@media (max-width: 499px) {
  .project .final {
    margin-top: 150px;
    width: 250px;
    background-color: #ECDADA;
    height: 100px;
  }
}

@media (min-width: 500px) {
  .box .project .change {
    width: 0;
    height: 400px;
    overflow: hidden;
    margin-left: -80px;
    -webkit-transform: skew(-10deg);
            transform: skew(-10deg);
    -webkit-transition: width 1s ease;
    transition: width 1s ease;
    border-radius: 5%;
  }
  .box .project .original:hover .change {
    width: 700px;
  }
  .box .project .original:focus-within .change {
    width: 700px;
  }
  .box .project .original:active .change {
    width: 700px;
  }
  .box .project .final {
    width: 700px;
    height: 700px;
    -webkit-transform: skew(10deg);
            transform: skew(10deg);
    background-color: #ECDADA;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 5%;
    background-repeat: no-repeat;
  }
  .box .project .description {
    color: #3C3C30;
    margin-left: 110px;
    margin-top: 10px;
    background-color: rgba(236, 218, 218, 0.5);
    height: 100px;
    border-radius: 20px;
  }
  .box .project .description h2 {
    color: #A84D45;
  }
  .box .project .paw1 {
    background-image: url(./docs/paws/ricky-paw.png);
  }
  .box .project .paw2 {
    background-image: url(./docs/paws/slickrick.png);
  }
  .box .project .paw5 {
    background-image: url(./docs/paws/monkey-paw.png);
  }
  .box .project .paw4 {
    background-image: url(./docs/paws/duncan-paw.png);
  }
  .box .project .paw3 {
    background-image: url(./docs/paws/duncan-paw.png);
  }
  .box .project .paw6 {
    background-image: url(./docs/paws/margot-paw.png);
  }
  .box .project .paw7 {
    background-image: url(./docs/paws/gigi-paw.png);
  }
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #C88F90;
  margin-left: 50px;
}

.circle .face {
  position: absolute;
  margin-left: 70px;
  margin-top: 40px;
  height: 80px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #DFDCD9;
}

.circle .face .nose {
  background-color: #A84D45;
  height: 7px;
  margin: 0 50px;
  position: relative;
  bottom: -45px;
  right: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 7px;
}

.circle .face .nose:before,
.circle .face .nose:after {
  content: "";
  background-color: #A84D45;
  border-radius: 50%;
  height: 7px;
  position: absolute;
  width: 7px;
}

.circle .face .nose:before {
  top: -5px;
  left: 0;
}

.circle .face .nose:after {
  left: 5px;
  top: 0;
}

.circle .face .eye1, .circle .face .eye2 {
  position: relative;
  background-color: #3C3C30;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  float: left;
  top: 25px;
  left: 16px;
}

.circle .face .eye2 {
  left: 38px;
}

.circle .face .p1, .circle .face .p2 {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background-color: white;
  top: 2px;
  left: 7px;
}

.circle .face .r_ear, .circle .face .l_ear {
  position: relative;
  border-bottom: 35px solid #DFDCD9;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  float: left;
  bottom: 30px;
  left: 10px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.circle .face .l_ear {
  bottom: 52px;
  left: -6px;
  -webkit-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

.circle .face .r_ear {
  bottom: 25px;
  left: 14px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.circle .tummy {
  position: relative;
  background-color: #DFDCD9;
  height: 50px;
  width: 80px;
  border-radius: 50px 50px 45px 45px;
  top: 60px;
}

.circle .tail {
  position: relative;
  height: 70px;
  width: 70px;
  -webkit-box-shadow: 15px 15px 0 0 #DFDCD9;
          box-shadow: 15px 15px 0 0 #DFDCD9;
  border-radius: 50%;
  bottom: 35px;
  left: -20px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: wag 2s infinite;
          animation: wag 2s infinite;
  z-index: 4;
}

@-webkit-keyframes wag {
  50% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}

@keyframes wag {
  50% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}

.whiskers1,
.whiskers2 {
  position: relative;
  height: 4px;
  width: 20px;
  background-color: #A84D45;
  border-radius: 50%;
  float: left;
  right: 20px;
  top: -100px;
}

.whiskers2 {
  left: 78px;
}

.whiskers3,
.whiskers4 {
  position: relative;
  height: 4px;
  width: 20px;
  background-color: #A84D45;
  border-radius: 50%;
  float: left;
  right: 20px;
  top: -105px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.whiskers4 {
  left: 35px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.whiskers3 {
  right: 56px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.whiskers5,
.whiskers6 {
  position: relative;
  height: 4px;
  width: 20px;
  background-color: #A84D45;
  border-radius: 50%;
  float: left;
  right: 20px;
  top: -97px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.whiskers5 {
  left: 92px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.whiskers6 {
  right: 34px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.head {
  grid-area: header;
  margin-bottom: 60px;
}

.head #nav {
  width: 100%;
  position: fixed;
  top: 0;
  color: #C88F90;
  z-index: 4;
}

.head #nav #menu_checkbox {
  display: none;
  color: #A84D45;
}

.head #nav a {
  color: #A84D45;
  display: block;
}

@-webkit-keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -35px;
  }
  100% {
    top: -20px;
  }
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -35px;
  }
  100% {
    top: -20px;
  }
}

@-webkit-keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@-webkit-keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  80% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  90% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  80% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  90% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@media (max-width: 499px) {
  #menu_button {
    width: 49px;
    padding-right: 10px;
    overflow: hidden;
    background-color: #ECDADA;
    border-radius: 0 0 15px 15px;
    border: 1px solid #A84D45;
  }
  #menu_label {
    position: relative;
    display: block;
    height: 39px;
    cursor: pointer;
  }
  #menu_label ul {
    display: none;
  }
  #menu_label:before, #menu_label:after, #menu_text_bar {
    position: absolute;
    width: 39px;
    height: 5px;
    background-color: #A84D45;
    z-index: 5;
    margin-top: 15px;
  }
  #menu_label:before, #menu_label:after {
    content: '';
    -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  }
  #menu_label:before {
    top: 0;
  }
  #menu_label:after {
    top: 12px;
  }
  #menu_text_bar {
    top: 24px;
  }
  #menu_text_bar:before {
    content: 'MENU';
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #C88F90;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: none;
  }
  #menu_checkbox:checked + #menu_label:before {
    left: -59px;
  }
  #menu_checkbox:checked + #menu_label:after {
    left: 59px;
  }
  #menu_checkbox:checked + #menu_label #menu_text_bar:before {
    display: block;
    -webkit-animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
            animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
  }
  #nav {
    width: 50vw;
  }
  #nav label {
    display: inline-block;
    font-size: 1.5em;
    padding: 10px;
  }
  #nav #nav-selectors {
    display: none;
    width: 50%;
    position: fixed;
    top: 0;
    color: #C88F90;
    z-index: 4;
  }
  #nav #nav-selectors ul {
    border: #A84D45 solid 1px;
    border-radius: 15px;
  }
  #nav #nav-selectors li {
    border: solid #A84D45 1px;
    border-radius: 5px;
    display: block;
    padding: .5em 1em;
    border-bottom: #C88F90 1px solid;
    background-color: #DFDCD9;
  }
  #nav #menu_button input:checked ~ ul {
    display: block;
  }
}

@media (min-width: 500px) {
  #nav {
    background-color: white;
    opacity: 75%;
    width: 200px;
  }
  #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #nav ul li {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #nav ul li a {
    text-align: center;
    text-decoration: none;
    padding: .75em 1em;
    height: 25px;
  }
}

.my-face .me-original {
  background-image: url(./docs/ShaunaFace.JPG);
  margin: auto;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 10px 1px #000;
          box-shadow: 0 0 10px 1px #000;
  border-radius: 50%;
}

.my-face .change {
  width: 0;
  height: 250px;
  overflow: hidden;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border-radius: 50%;
  background-color: #C88F90;
}

.my-face .me-original:hover .change {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.my-face .me-original:focus-within .change {
  width: 250px;
  border-radius: 50%;
}

.my-face .me-original:active .change {
  width: 250px;
  border-radius: 50%;
}

.my-face .cat-pic {
  width: 250px;
  height: 250px;
  background-image: url(./docs/dundeeface.JPG);
  opacity: 90%;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 5px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #3C3C30;
  scroll-behavior: smooth;
  background-color: white;
}

h1 {
  color: #A84D45;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  color: #A84D45;
  text-align: center;
  -webkit-animation: blinker 1.5s linear;
          animation: blinker 1.5s linear;
  margin-top: 10px;
  margin-bottom: 10px;
}

@-webkit-keyframes flyin {
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes flyin {
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.name-box {
  margin-top: 50px;
  font-weight: bold;
  border-radius: 15px;
  font-size: .65em;
  margin-left: auto;
  margin-right: auto;
  color: #3C3C30;
}

.name-box .inner-code, .name-box h1 {
  color: #3C3C30;
}

.name-box .define {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 5px;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation: typing 3.5s steps(30, end), h1;
          animation: typing 3.5s steps(30, end), h1;
  animation-margin-top: 15px;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #C08F38;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #C08F38;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: 5px;
  background-color: #ECDADA;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: calc(100%-50px);
  background-color: white;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 6;
  padding-top: 30px;
  width: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 95vh;
  text-align: center;
  background-color: #ECDADA;
}

.social-click {
  height: 75px;
  margin: 10px;
  width: auto;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
  border-radius: 5px;
}

.social-click:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.sub-heading {
  width: 100%;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 850px;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 125px;
  margin: 5px;
}

@media (max-width: 499px) {
  .skill {
    width: 80px;
    margin: 3px;
  }
  .skill p {
    font-size: .6rem;
  }
  .sidebar {
    width: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    text-align: center;
    background-color: #ECDADA;
    font-size: 0.7em;
    z-index: 6;
  }
  .sidebar .social-click {
    height: 40px;
    margin: 5px;
    width: auto;
  }
}

.logo {
  height: 25px;
  background-color: white;
  width: 25px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
  border-radius: 5px;
  padding: 5px;
}

.logo:hover {
  -webkit-transform: scale(2.75);
          transform: scale(2.75);
}

.about {
  width: 250px;
  padding: 5px;
}

#nav a, .talk-box a, .project a {
  text-decoration: none;
  color: #A84D45;
  text-align: center;
}

#nav a:hover, .talk-box a:hover, .project a:hover {
  color: #DFDCD9;
  background-color: #C88F90;
  border-radius: 5px;
}

#nav a:focus-within, .talk-box a:focus-within, .project a:focus-within {
  background-color: #A84D45;
  color: #DFDCD9;
  border-radius: 5px;
}

#nav a:active, .talk-box a:active, .project a:active {
  color: #C88F90;
  background-color: #A84D45;
  border-radius: 5px;
}

.panel-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ECDADA), to(#DFDCD9));
  background-image: linear-gradient(to bottom, #ECDADA, #DFDCD9);
  background-color: #DFDCD9;
}

.panel-image img {
  width: 95%;
  -webkit-animation: wiggle 5s infinite;
          animation: wiggle 5s infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 1em;
}

.panel-image img:hover {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  95% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  95% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: #A84D45;
  text-align: center;
  font-size: 0.75em;
  margin-top: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
}

.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.box {
  border: 1px #A84D45 solid;
  margin: 10px;
  border-radius: 15px;
}

.block {
  margin: 35px 35px 0 0;
  width: 215px;
  height: 215px;
}

.talks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.b3 {
  padding: 1em;
  width: 75%;
  max-width: 400px;
  height: auto;
}

form {
  text-align: left;
  line-height: 30px;
}

form input {
  border: 1px solid #A84D45;
  border-radius: 3px;
  width: 100%;
  line-height: 30px;
}

form input[type=text]:hover {
  background-color: #DFDCD9;
}

form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #A84D45;
  border-radius: 3px;
  resize: none;
  width: 100%;
  line-height: 30px;
}

form textarea:hover {
  background-color: #DFDCD9;
}

form .btn {
  border: 1px solid #A84D45;
  color: #A84D45;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  width: 100px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

form .btn:hover {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #C88F90;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #ECDADA;
}

.block-box {
  width: 45%;
  min-width: 270px;
  margin: 0 15px 15px 15px;
}

.talk-box {
  text-align: left;
  width: 45%;
  min-width: 270px;
  margin: 0 15px 15px 15px;
}

.talk-box .presenting {
  width: 180px;
  height: 100px;
}

.talk-box .presenting img {
  margin-bottom: 20px;
  cursor: pointer;
  width: 180px;
  height: 100px;
}

.talk-box .presenting img:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 270px;
  width: 45%;
  padding: 16px;
}

.space-box {
  height: 30px;
  width: 100%;
}

.to-top {
  text-align: center;
}

.to-top a {
  text-decoration: none;
  color: #A84D45;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.to-top a:hover {
  color: #DFDCD9;
  background-color: #C88F90;
  border-radius: 5px;
}

.to-top a:focus-within {
  background-color: #A84D45;
  color: #DFDCD9;
  border-radius: 5px;
}

.to-top a:active {
  color: #C88F90;
  background-color: #A84D45;
  border-radius: 5px;
}

#catanimate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 800px) {
  .panel-image img {
    width: 60%;
  }
  .wrapper {
    margin: 15px;
  }
  .main {
    max-width: calc(100%-100px);
  }
  .name-box {
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 1.3em;
  }
  .space-box {
    height: 50px;
    width: 100%;
  }
  .gif iframe {
    margin: 15px;
  }
}

@media (min-width: 1100px) {
  .wrapper {
    width: calc(100% - 48px);
    margin: 24px auto;
  }
  .name-box {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=main.css.map */