$dark: #3C3C30;
$light: #DFDCD9;
$pink: #C88F90;
$red: #A84D45;
$peru: #C08F38;

// reset any default settings in browser
*{
    margin: 0;
    padding: 0;
}

// general rules for lots of tags
p,h1,h2,h3,h4,h5,h6{
    margin-bottom: 5px;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: $light;
    color: $dark;
}

// rules for headings
h1{
    font-family: 'Fredericka the Great', cursive;
    color: $dark;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    animation: flyin 1.2s ease forwards;
    opacity: 0;
    transform: scale(2);
    filter: blur(4px);
}

h2{
    font-family: 'Fredericka the Great', cursive;
    color: $red;
    text-align: center;
    animation: blinker 1.5s linear;
}

// h1 animation
@keyframes flyin {
    to { 
      filter: blur(0);
      transform: scale(1);
      opacity: 1;
    }
}
// h2 animation
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

// general grid layout -mobile first for index page
.wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "content"
    "panel-image"
    "footer";
}

// rules for header for all screen sizes
.head {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    
    #nav {
        width: 100%;
        background-color: $dark;
        position: fixed;
        top:0;
        color: $pink;
        z-index: 4;
        
        #menu_checkbox {
            display: none;
        }

        a {
            display: block;
            color: $light;
        }
    }
    
}


// links to social media via icons
.social-click {
    height: 50px;
    width: auto;
    transform: rotate(0);
    transition: all 400ms;

    &:hover {
        transform: rotate(360deg); 
    }
}
  
.content {
    grid-area: content;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

// styles for selecting links
#nav, .ed, .project{
    a {
        text-decoration: none;
        color: $red;
        text-align: center;

        &:hover {
            color: $light;
            background-color: $pink;
            border-radius: 5%;
        }
        
        &:focus-within {
            background-color: $red;
            color: $light;
            border-radius: 5%;
        }
        &:active {
            color: $light;
            background-color: $red;
            border-radius: 5%;
        }
    }
}

// index page duck and "code" styling
.panel-image {
    height: 90%;
    grid-area: panel-image;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5em;
    animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
    
    img{
        width: 90%;
        border-radius: 5%;
        padding: 1em;
    }

    .name-box{
        width: 90%;
        background-color: $pink;
        color: $light;
        font-family: 'Source Code Pro', monospace;
        opacity: 75%;
        padding: 1em;
        border: 2px solid $red;
        outline: 1px dashed $light;
        outline-offset: -15px;
        font-weight: bold;
        font-size: .75em;
        border-radius: 5%;
    
        .inner-code{
            color: $dark;
        }
    }
}

// footer style for all pages
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: $light;
    text-align: center;
    font-size: 0.75em;
    background-color: $dark;
    
}

// flex box containers for the different pages with various sizes (per page)
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    

    .box{
        height: 300px;
        width: 300px;
        border: 1px $dark solid;
        margin: 10px;
        background-color: $pink;
        border-radius: 5%;

    }

    .b1, .b2, .b3 {

        height: 400px;
        
// inner section for easier viewing of text on talks page and the form
        .overlay {
            width: 85%;
            min-width: 30%;
            margin: 3% auto;
            display: block;
            padding: 2%;
            height: 85%;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 40px;

            button {
                img {
                width: 150px;
                height: 100px;
                }
            }

            //format of form on talk page
            form {
                text-align: left;
                line-height: 25px;
                
                
                input {
                border: 1px solid $red;
                border-radius: 5%;
                }

                input[type=text]:hover {
                    background-color: $light;
                }

                textarea {
                    box-sizing: border-box;
                    border: 1px solid $red;
                    border-radius: 5%;
                    resize: none;

                    &:hover {
                        background-color: $light;
                    }
                }


                .btn {
                    border: 1px solid $red;
                    color: $red;
                    border-radius: 5%;
                    margin-left: 100px;

                    &:hover {
                        transition: all .2s ease-in-out;
                        background-color: $pink;
                        transform: scale(1.5);
                        color: $light;
                        }
                }
            }

            
        }
    }
    
    .block {
        height: 200px;
        width: 320px;
        margin: 0 15px 15px 15px;
    }

    .ed {
        margin-bottom: 50px;
    }
    .language {
        margin-bottom: 20px;
    }
    .gif {
        display: flex;
        flex-direction: column;
        iframe {
            margin-top: 30px;
        }
    }
}

// enlarge pictures in case someone wants a closer look at images on talks page
.talks {   
    img {
        width: 100vw;
    }
}

// about me photo changer (Shauna to Ricky the cat)

.my-face {
    .me-original {
        width: 320px; 
        height: 200px;
        overflow: hidden;
        background-image: url(./docs/myface.JPG);
        margin: auto;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 10px 1px #000;
    }

    .change {
        width: 0; 
        height: 200px;
        overflow: hidden;
        margin-left: -50px;
        transform: skew(-20deg);
        transition: width 1s ease;
    }		

    .me-original:hover .change {
        width: 400px;
    }
// attempt to make clickable on the phone
    .me-original:focus-within .change {
        width: 400px;
    }
    .me-original:active .change {
        width: 400px;
    }

    .cat-pic {
        width: 400px; 
        height: 200px;
        transform: skew(20deg);
        background-image: url(./docs/Rick.JPG);
        opacity: 50%;
    }		
}
    
// button to open Shauna's CV
.cv-button {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 20px;
    padding: 5px;
    border: $red solid 2px;
    border-radius: 5%;
    margin-left: 100px;
    margin-top: 10px;
    color: $red;

    .btn-words{
        font-size: 0.75em;
    }

    &:hover {
        transition: all .2s ease-in-out;
        background-color: $pink;
        transform: scale(1.5);
        color: $light;
        }
}

.presenting {
    background-image: url("./docs/presenting.JPG");
    width: 100%;

    .box {
        background-color: $light;
        opacity: 75%;
        padding: 1em;
        border: 2px solid $red;
        outline: 1px dashed $light;
        outline-offset: -15px;
        border-radius: 5%;
    }

}

// import the other SASS files to animate cat and to animate images on project page
@import 'projects';
@import 'catanimate';


// animations for burger menu
@keyframes moveUpThenDown
{
0%{ top:0; }
50%{ top:-35px;}
100%{ top:-20px; }
}

@keyframes shakeWhileMovingUp
{
0%{ transform: rotateZ(0); }
25%{ transform:rotateZ(-10deg); }
50%{ transform:rotateZ(0deg); }
75%{ transform:rotateZ(10deg); }
100%{ transform:rotateZ(0); }
}

@keyframes shakeWhileMovingDown
{
0%{ transform:rotateZ(0); }
80%{ transform:rotateZ(3deg); }
90%{ transform:rotateZ(-3deg); }
100%{ transform:rotateZ(0); }
}
 

// burger menu rule for small screen devices
@media (max-width:499px) {

    #menu_button {
        width: 49px;
        overflow: hidden;
    }

    #menu_label {
        position: relative;
        display: block;
        height: 39px;
        cursor: pointer;

        ul {
            display: none;
        }
    }
   
    #menu_label:before, #menu_label:after, #menu_text_bar {
        position: absolute;
        width: 39px;
        height: 5px;
        background-color: $light;
        z-index: 5;
        margin-top: 15px;
    }

    #menu_label:before, #menu_label:after {
        content: '';
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
    }

    #menu_label:before {
        top: 0;
    }

    #menu_label:after {
        top: 12px;
    }

    #menu_text_bar {
        top: 24px;
    }

    #menu_text_bar:before {
        content: 'MENU';
        position: absolute;
        top: 5px;
        right: 0;
        left: 0;
        color: $pink;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        display: none;
    }

    #menu_checkbox:checked + #menu_label:before {
        left: -49px;
    }

    #menu_checkbox:checked + #menu_label:after {
        left: 49px;
    }

    #menu_checkbox:checked + #menu_label #menu_text_bar:before {
        display: block;
        animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
    }

    #nav {
        label {
            display: inline-block;
            font-size: 1.5em;
            padding: 10px;
        }

        #nav-selectors {
            display: none;
            width: 100%;
            background-color: $dark;
            position: fixed;
            top:0;
            color: $pink;
            z-index: 4;

            li {
                display: block;
                padding: .5em 1em;
                border-bottom: $light 1px solid;
            }
        }
        // Toggle show/hide menu on checkbox click
        #menu_button input:checked  ~ul {
            display: block;
        }  
    }
}

// rules to change layout for medium sized screen like iPad
@media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 0.25fr 3fr 0.25fr;
      grid-template-areas: 
        "header header header"
        ". content ."
        ". panel-image ."
        "footer footer footer";
    }

    .panel-image .name-box{
        font-size: 1em;
    }

    #nav {
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        
            li {
                display: inline-block;
                box-sizing: border-box;
                float: right;
                
                a {
                text-align: center;
                text-decoration: none;
                padding: .75em 1em;
                height: 25px;
                }
            }
        }
    }
}

// large sized screen style changes
// some styles inherited from mobile and from medium sized device rules
@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 0.25fr 4fr 2fr 0.25fr;
        grid-template-areas: 
        "header header header header"
        ". panel-image content ."
        "footer footer footer footer"
    }
    .panel-image .name-box{
        font-size: 1.3em;
    }
    .social-click {
        height: 80px;
        width: auto;
    }
}


