$dark: #3C3C30;
$light: #DFDCD9;
$pink: #C88F90;
$red: #A84D45;
$peru: #C08F38;
$lightpink:#ECDADA;

// import the other SASS files to animate cat and to animate images on project page
@import 'projects';
@import 'catanimate';
@import 'navmenu';
@import 'face';
// reset any default settings in browser
*{
    margin: 0;
    padding: 0;
}

// general rules for lots of tags
p,h1,h2,h3,h4,h5,h6{
    margin-bottom: 5px;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: $light;
    color: $dark;
    scroll-behavior: smooth;
}

// rules for headings
h1{
    font-family: 'Fredericka the Great', cursive;
    color: $dark;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    // animation: flyin 1.2s ease forwards;
    // opacity: 0;
    // transform: scale(2);
    // filter: blur(4px);
}

h2{
    font-family: 'Fredericka the Great', cursive;
    color: $red;
    text-align: center;
    animation: blinker 1.5s linear;
    margin-top: 10px;
    margin-bottom: 10px;
}

// h1 animation
@keyframes flyin {
    to { 
      filter: blur(0);
      transform: scale(1);
      opacity: 1;
    }
}
// h2 animation
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }


.name-box{
    width: 95%;
    font-weight: bold;
    border-radius: 15px;
    font-size: .65em;
    .inner-code {
        color: $dark;
    }

    .define {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5px;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid $peru; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
        h1 {
            margin-top: 15px;
            
        }

    }
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $peru }
}

// whole page wrapper
.wrapper {
    display: flex;
    max-width: 1100px;
    margin: 5px;
}

// main content to scroll
.main {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100%-50px);
}

// sidebar to stay
.sidebar {
    padding-top: 30px;
    width: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 500px;
    border: $red solid 1px;
    text-align: center;
    background-color: $lightpink;
    border-radius: 15px;
}


// links to social media via icons
.social-click {
    height: 75px;
    margin: 10px;
    width: auto;
    transform: rotate(0);
    transition: all 400ms;
    border-radius: 5px;

    &:hover {
        transform: rotate(360deg); 
    }
}

// skills and icons
.skill-heading {
      width: 100%;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    min-width: 100px;
    width: calc(100% - 50px);

}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    margin: 5px;
}
@media (max-width: 499px) {
    .skill {
        width: 80px;
        margin: 3px;
        p {
            font-size: .6rem;
        }
    }

    .sidebar {
        padding-top: 30px;
        width: 50px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height: 300px;
        border: $red solid 1px;
        text-align: center;
        background-color: $lightpink;
        border-radius: 15px;
        font-size: 0.7em;
        .social-click {
            height: 40px;
            margin: 5px;
            width: auto;
        }
    }
}

.logo {
    height: 25px;
    background-color: white;
    width: 25px;
    transform: rotate(0);
    transition: all 400ms;
    border-radius: 5px;
    padding: 5px;

    &:hover {
        transform: scale(2.75); 
    }
}


// ABOUT SECTION
.about {
    width: 250px;
    padding: 5px;
}
  
// .content {
//     width: auto;
//     display: flex;
//     flex-direction: column;
//     text-align: center;
// }

// styles for selecting links
#nav, .block-box, .project, .to-top{
    a {
        text-decoration: none;
        color: $red;
        text-align: center;

        &:hover {
            color: $light;
            background-color: $pink;
            border-radius: 5px;
        }
        
        &:focus-within {
            background-color: $red;
            color: $light;
            border-radius: 5px;
        }
        &:active {
            color: $pink;
            background-color: $red;
            border-radius: 5px;
        }
    }
}


// index page duck and "code" styling
.panel-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: wiggle 5s infinite;
    img{
        width: 90%;
        border-radius: 15px;
        padding: 1em;
            &:hover {
                // transform: rotate(180deg);
                animation: none;
            }
    }
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.block-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    .block {
        width: 45%;
        height: 200px;
        min-width: 270px;
        margin: 0 15px 15px 15px;
    }
}


// footer style for all pages
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: $red;
    text-align: center;
    font-size: 0.75em;
    margin-top: 20px;
}


// flex box containers for the different pages with various sizes (per page)
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    
    .box {
        border: 1px $red solid;
        margin: 10px;
        // background-color: $pink;
        border-radius: 15px;
    }

    .b3 {
        background-color: $light;
        padding: 1em;
        border: 1px solid $red;
        border-radius: 15px;
        width: 45%;
        min-width: 250px;
        // height: 480px;
        display: flex;
        justify-content: center;
        p {
            text-align: left;
            }
        }
// inner section for easier viewing of text on talks page and the form
        

        //format of form on talk page
    form {
        text-align: left;
        line-height: 30px;
        
        input {
            border: 1px solid $red;
            border-radius: 3px;
            width: 100%;
            line-height: 30px;
        }

        input[type=text]:hover {
            background-color: $light;
        }

        textarea {
            box-sizing: border-box;
            border: 1px solid $red;
            border-radius: 3px;
            resize: none;
            width: 100%;
            line-height: 30px;

            &:hover {
                background-color: $light;
            }
        }


        .btn {
            border: 1px solid $red;
            color: $red;
            border-radius: 5px;
            
            padding: 5px;
            margin-top: 5px;
            width: 100px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;

            &:hover {
                transition: all .2s ease-in-out;
                background-color: $pink;
                transform: scale(1.2);
                color: $lightpink;
            }
        }
    }

    // .block {
    //     height: 200px;
    //     width: 270px;
    //     margin: 0 15px 15px 15px;
    // }

    .talk-box {
        // width: 250px;
        text-align: left;
        // margin: 15px;
        width: 45%;
        // height: 200px;
        min-width: 270px;
        margin: 0 15px 15px 15px;
        
       .presenting {
        width: 180px;
        height: 100px;
            img {
                margin-bottom: 20px;
                cursor: pointer;
                width: 180px;
                height: 100px;
                &:hover {
                    transform: scale(2); 
                }
            }
        }
    
    }

    .gif {
        // border: $red solid 1px;
        // border-radius: 15px;
        // background-color: $lightpink;
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-width: 270px;
        width: 45%;
        padding: 16px;
    }
}

.space-box {
    height: 30px;
}

.to-top {
    text-align: center;
}

#catanimate {
    display: flex;
    justify-content: center;
}



// large sized screen style changes
// some styles inherited from mobile and from medium sized device rules
@media (min-width: 800px) {
    .wrapper {
        margin: 15px;
    }
    .main {
        max-width: calc(100%-100px);
    }
    .name-box {
        width: 80%;
        font-size: 1em;
        margin-bottom: 30px;
        .inner-code {
            font-size: 1em;
        }
    }
    .skills {
        width: calc(100% - 365px);
    }
    .space-box {
        height: 50px;
    }
    .gif iframe {
        margin: 15px;
    }
}
@media (min-width: 1100px) {
    .wrapper {
        width: calc(100% - 48px);
        margin: 24px auto;
    }
    .panel-image .name-box{
        font-size: 1.5em;
    }
    // .talk-box {
    //     width: 250px;
    //     text-align: left;
    //     margin: 15px;
    // }

}


