* {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 5px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #DFDCD9;
  color: #3C3C30;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  color: #3C3C30;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

h2 {
  font-family: 'Fredericka the Great', cursive;
  color: #A84D45;
  text-align: center;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: "header" "content" "panel-image" "footer";
}

.head {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.head #nav {
  width: 100%;
  background-color: #3C3C30;
  position: fixed;
  top: 0;
  color: #C88F90;
  z-index: 4;
}

.head #nav #menu_checkbox {
  display: none;
}

.head #nav a {
  display: block;
  color: #DFDCD9;
}

.social-click {
  height: 50px;
  width: auto;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.social-click:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@-webkit-keyframes flyin {
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes flyin {
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

form {
  line-height: 25px;
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#nav a, .ed a, .project a {
  text-decoration: none;
  color: #A84D45;
  text-align: center;
}

#nav a:hover, .ed a:hover, .project a:hover {
  color: #DFDCD9;
  background-color: #C88F90;
  border-radius: 5%;
}

#nav a:focus-within, .ed a:focus-within, .project a:focus-within {
  background-color: #A84D45;
  color: #DFDCD9;
  border-radius: 5%;
}

#nav a:active, .ed a:active, .project a:active {
  color: #DFDCD9;
  background-color: #A84D45;
  border-radius: 5%;
}

.panel-image {
  height: 90%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: panel-image;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5em;
}

.panel-image img {
  width: 90%;
  border-radius: 5%;
  padding: 1em;
}

.panel-image .name-box {
  width: 90%;
  background-color: #C88F90;
  color: #DFDCD9;
  font-family: 'Source Code Pro', monospace;
  opacity: 75%;
  padding: 1em;
  border: 2px solid #A84D45;
  outline: 1px dashed #DFDCD9;
  outline-offset: -15px;
  font-weight: bold;
  font-size: .75em;
  border-radius: 5%;
}

.panel-image .name-box .inner-code {
  color: #3C3C30;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #DFDCD9;
  text-align: center;
  font-size: 0.75em;
  background-color: #3C3C30;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: auto;
}

.container .box {
  height: 300px;
  width: 300px;
  border: 1px #3C3C30 solid;
  margin: 10px;
  background-color: #C88F90;
  border-radius: 5%;
}

.container .b1, .container .b2, .container .b3 {
  height: 400px;
}

.container .b1 .overlay, .container .b2 .overlay, .container .b3 .overlay {
  width: 85%;
  min-width: 30%;
  margin: 3% auto;
  display: block;
  padding: 2%;
  height: 85%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  text-align: center;
}

.container .b1 .overlay button, .container .b2 .overlay button, .container .b3 .overlay button {
  border: none;
}

.container .b1 .overlay img, .container .b2 .overlay img, .container .b3 .overlay img {
  width: 75%;
  height: auto;
}

.container .block {
  height: 200px;
  width: 320px;
  margin: 0 15px 15px 15px;
  text-align: center;
}

.container .ed {
  margin-bottom: 50px;
}

.container .language {
  margin-bottom: 20px;
}

.talks img {
  width: 100vw;
}

.my-face .me-original {
  width: 320px;
  height: 200px;
  overflow: hidden;
  background-image: url(./docs/myface.JPG);
  margin: auto;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 10px 1px #000;
          box-shadow: 0 0 10px 1px #000;
}

.my-face .change {
  width: 0;
  height: 200px;
  overflow: hidden;
  margin-left: -50px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.my-face .me-original:hover .change {
  width: 400px;
}

.my-face .me-original:focus-within .change {
  width: 400px;
}

.my-face .me-original:active .change {
  width: 400px;
}

.my-face .cat-pic {
  width: 400px;
  height: 200px;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  background-image: url(./docs/Rick.JPG);
  opacity: 50%;
}

.cv-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 20px;
  padding: 5px;
  border: #A84D45 solid 2px;
  border-radius: 5%;
  margin-left: 100px;
  margin-top: 10px;
  color: #A84D45;
}

.cv-button .btn-words {
  font-size: 0.75em;
}

.cv-button:hover {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #C88F90;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #DFDCD9;
}

.presenting {
  background-image: url("./docs/presenting.JPG");
  width: 100%;
}

.presenting .box {
  background-color: #DFDCD9;
  opacity: 75%;
  padding: 1em;
  border: 2px solid #A84D45;
  outline: 1px dashed #DFDCD9;
  outline-offset: -15px;
  border-radius: 5%;
}

.box .project {
  cursor: pointer;
}

.box .project .original {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 10px 1px #A84D45;
          box-shadow: 0 0 10px 1px #A84D45;
  border-radius: 5%;
}

.box .project .p1 {
  background-image: url(./docs/Main_Menu.png);
}

.box .project .p2 {
  background-image: url(./docs/Helpsheets.png);
}

.box .project .p3 {
  background-image: url(./docs/Jila.png);
}

.box .project .p4 {
  background-image: url(./docs/coding-cats.jpeg);
}

.box .project .p5 {
  background-image: url(./docs/dundee.JPG);
  background-color: #A84D45;
}

.box .project .p6 {
  background-image: url();
  background-color: #C88F90;
}

.box .project .change {
  width: 0;
  height: 400px;
  overflow: hidden;
  margin-left: -80px;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border-radius: 5%;
}

.box .project .original:hover .change {
  width: 700px;
}

.box .project .original:focus-within .change {
  width: 700px;
}

.box .project .original:active .change {
  width: 700px;
}

.box .project .final {
  width: 700px;
  height: 700px;
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  background-color: #3C3C30;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5%;
  background-repeat: no-repeat;
}

.box .project .final h2 {
  color: #C88F90;
}

.box .project .description {
  width: 210px;
  height: 150px;
  margin-left: 160px;
  margin-top: 150px;
}

.box .project .paw1 {
  background-image: url(./docs/margot-paw.png);
}

.box .project .paw2 {
  background-image: url(./docs/dundee-paw.png);
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #C88F90;
  margin-left: 50px;
}

.circle .face {
  position: absolute;
  margin-left: 70px;
  margin-top: 40px;
  height: 80px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #DFDCD9;
}

.circle .face .nose {
  background-color: #A84D45;
  height: 7px;
  margin: 0 50px;
  position: relative;
  bottom: -45px;
  right: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 7px;
}

.circle .face .nose:before,
.circle .face .nose:after {
  content: "";
  background-color: #A84D45;
  border-radius: 50%;
  height: 7px;
  position: absolute;
  width: 7px;
}

.circle .face .nose:before {
  top: -5px;
  left: 0;
}

.circle .face .nose:after {
  left: 5px;
  top: 0;
}

.circle .face .eye1, .circle .face .eye2 {
  position: relative;
  background-color: #3C3C30;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  float: left;
  top: 25px;
  left: 16px;
}

.circle .face .eye2 {
  left: 38px;
}

.circle .face .p1, .circle .face .p2 {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background-color: white;
  top: 2px;
  left: 7px;
}

.circle .face .r_ear, .circle .face .l_ear {
  position: relative;
  border-bottom: 35px solid #DFDCD9;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  float: left;
  bottom: 30px;
  left: 10px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.circle .face .l_ear {
  bottom: 52px;
  left: -6px;
  -webkit-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

.circle .face .r_ear {
  bottom: 25px;
  left: 14px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.circle .tummy {
  position: relative;
  background-color: #DFDCD9;
  height: 50px;
  width: 80px;
  border-radius: 50px 50px 45px 45px;
  top: 60px;
}

.circle .tail {
  position: relative;
  height: 70px;
  width: 70px;
  -webkit-box-shadow: 15px 15px 0 0 #DFDCD9;
          box-shadow: 15px 15px 0 0 #DFDCD9;
  border-radius: 50%;
  bottom: 35px;
  left: -20px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: wag 2s infinite;
          animation: wag 2s infinite;
  z-index: 4;
}

@-webkit-keyframes wag {
  50% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}

@keyframes wag {
  50% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}

.whiskers1,
.whiskers2 {
  position: relative;
  height: 4px;
  width: 20px;
  background-color: #A84D45;
  border-radius: 50%;
  float: left;
  right: 20px;
  top: -100px;
}

.whiskers2 {
  left: 78px;
}

.whiskers3,
.whiskers4 {
  position: relative;
  height: 4px;
  width: 20px;
  background-color: #A84D45;
  border-radius: 50%;
  float: left;
  right: 20px;
  top: -105px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.whiskers4 {
  left: 35px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.whiskers3 {
  right: 56px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.whiskers5,
.whiskers6 {
  position: relative;
  height: 4px;
  width: 20px;
  background-color: #A84D45;
  border-radius: 50%;
  float: left;
  right: 20px;
  top: -97px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.whiskers5 {
  left: 92px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.whiskers6 {
  right: 34px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

@-webkit-keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -35px;
  }
  100% {
    top: -20px;
  }
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -35px;
  }
  100% {
    top: -20px;
  }
}

@-webkit-keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@-webkit-keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  80% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  90% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  80% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  90% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@media (max-width: 499px) {
  #menu_button {
    width: 49px;
    overflow: hidden;
  }
  #menu_label {
    position: relative;
    display: block;
    height: 39px;
    cursor: pointer;
  }
  #menu_label ul {
    display: none;
  }
  #menu_label:before, #menu_label:after, #menu_text_bar {
    position: absolute;
    width: 39px;
    height: 5px;
    background-color: #DFDCD9;
    z-index: 5;
    margin-top: 15px;
  }
  #menu_label:before, #menu_label:after {
    content: '';
    -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  }
  #menu_label:before {
    top: 0;
  }
  #menu_label:after {
    top: 12px;
  }
  #menu_text_bar {
    top: 24px;
  }
  #menu_text_bar:before {
    content: 'MENU';
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #C88F90;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: none;
  }
  #menu_checkbox:checked + #menu_label:before {
    left: -49px;
  }
  #menu_checkbox:checked + #menu_label:after {
    left: 49px;
  }
  #menu_checkbox:checked + #menu_label #menu_text_bar:before {
    display: block;
    -webkit-animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
            animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
  }
  #nav label {
    display: inline-block;
    font-size: 1.5em;
    padding: 10px;
  }
  #nav #nav-selectors {
    display: none;
    width: 100%;
    background-color: #3C3C30;
    position: fixed;
    top: 0;
    color: #C88F90;
    z-index: 4;
  }
  #nav #nav-selectors li {
    display: block;
    padding: .5em 1em;
    border-bottom: #DFDCD9 1px solid;
  }
  #nav #menu_button input:checked ~ ul {
    display: block;
  }
}

@media (min-width: 500px) {
  .wrapper {
    -ms-grid-columns: 0.25fr 3fr 0.25fr;
        grid-template-columns: 0.25fr 3fr 0.25fr;
        grid-template-areas: "header header header" ". content ." ". panel-image ." "footer footer footer";
  }
  .panel-image .name-box {
    font-size: 1em;
  }
  #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #nav ul li {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: right;
  }
  #nav ul li a {
    text-align: center;
    text-decoration: none;
    padding: .75em 1em;
  }
}

@media (min-width: 700px) {
  .wrapper {
    -ms-grid-columns: 0.25fr 4fr 2fr 0.25fr;
        grid-template-columns: 0.25fr 4fr 2fr 0.25fr;
        grid-template-areas: "header header header header" ". panel-image content ." "footer footer footer footer";
  }
  .panel-image .name-box {
    font-size: 1.3em;
  }
  .social-click {
    height: 80px;
    width: auto;
  }
}
/*# sourceMappingURL=main.css.map */