$dark: #3C3C30;
$light: #DFDCD9;
$pink: #C88F90;
$red: #A84D45;
$peru: #C08F38;


*{
    margin: 0;
    padding: 0;
}

p,h1,h2,h3,h4,h5,h6{
    margin-bottom: 10px;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: $light;
    color: $dark;
}

h1{
    font-family: 'Fredericka the Great', cursive;
    color: $dark;
    text-align: center;
}

h2{
    font-family: 'Fredericka the Great', cursive;
    color: $red;
    text-align: center;
}

.wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "content"
    "ducks"
    "footer";
}

.head {
    grid-area: header;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    background-color: $dark;
}


li a {
    text-decoration: none;
    display: block;
    color: $pink;
    text-align: center;
    padding: .5em 1em;
    border-bottom: $light 1px solid;
}


.content {
    grid-area: content;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    text-align: center;
    // padding: 1.5em;

}

a {
    text-decoration: none;
    color: $red;

    &:hover {
        color: $light;
        background-color: $red;
        opacity: 75%;
        border-radius: 5%;
    }
    
    &:focus-within {
        background-color: $red;
        color: $light;
        opacity: 75%;
        border-radius: 5%;
    }
    &:active {
        color: $light;
        background-color: $red;
        opacity: 75%;
        border-radius: 5%;
    }

}


div.ducks {
    height: 90%;
    // width: auto;
    grid-area: ducks;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5em;
    
    img{
        width: 90%;
        border-radius: 5%;
        padding: 1em;
    }

    .name-box{
        width: 90%;
        background-color: $pink;
        color: $light;
        font-family: 'Source Code Pro', monospace;
        opacity: 75%;
        padding: 1em;
        border: 2px solid $red;
        outline: 1px dashed $light;
        outline-offset: -15px;
        font-weight: bold;
        font-size: .75em;
        border-radius: 5%;
    
        .inner-code{
            color: $dark;
        }
    }
}
  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: $light;
    text-align: center;
    font-size: 0.75em;
    background-color: $dark;
    
 }

.container{
    display: flex;
    justify-content: center;
    // align-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;

    .box{
        height: 300px;
        width: 300px;
        border: 1px $dark solid;
        margin: 10px;
        background-color: $pink;

    }

    .block {
        height: 200px;
        width: 320px;
        margin: 20px;
        text-align: center;
    }

}

// about me photo changer

.my-face {
    .me-original {
        width: 320px; 
        height: 200px;
        overflow: hidden;
        background-image: url(./docs/myface.JPG);
        margin: auto;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 10px 1px #000;
    }

    .change {
        width: 0; 
        height: 200px;
        overflow: hidden;
        margin-left: -50px;
        transform: skew(-20deg);
        transition: width 1s ease;
    }		
    .me-original:hover .change {
        width: 400px;
    }

    .cat-pic {
        width: 400px; 
        height: 200px;
        transform: skew(20deg);
        background-image: url(./docs/Rick.JPG);
        opacity: 50%;
    }		
}
    

.button {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 20px;
    padding: 5px;
    border: $red solid 2px;
    border-radius: 20%;
    margin-left: 100px;
    margin-top: 10px;
    color: $red;

    .btn-words{
        font-size: 0.75em;
    }

    &:hover {
        transition: all .2s ease-in-out;
        background-color: $pink;
        transform: scale(1.5);
        color: $light;
        }
}







@import 'projects';
@import 'catanimate';


// tick animation
// .tick{
//     margin-top: 40px;
//     margin-left: 40%;
//     position: fixed;
//     margin-top: 70px;
//     width: 12px;
//     height:25px;
//     border-top: 5px solid $red;
//     border-right: 5px solid $red;
//     transform-origin:left top;
//     transform: scaleX(-1) rotate(140deg);
//     animation: tick 1s ease infinite;
// }

// @keyframes tick{
//   0%{
//       width: 0px;
//       height:0px;
//   }
//   50%{
//       width: 12px;
//       height:0px;
//   }
//   100%{ 
//       width: 12px;
//       height:25px;
//   }
// }

@media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 0.25fr 3fr 0.25fr;
      grid-template-areas: 
        "header header header"
        ". content ."
        ". ducks ."
        "footer footer footer";
    }
    div.ducks .name-box{
        font-size: 1em;
    }

    li {
        float: right;
    }
    
    li a {
        padding: .75em 1em;
        border-left: 1px solid $light;
        font-size: 1.2em;
    }
    

}

// large sized screen style changes
@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 0.25fr 4fr 2fr 0.25fr;
        grid-template-areas: 
        "header header header header"
        ". ducks content ."
        "footer footer footer footer"
    }
    div.ducks .name-box{
        font-size: 1.3em;
    }
}


