.head {
  grid-area: header;
  margin-bottom: 60px;
}

.head #nav {
  width: 100%;
  position: fixed;
  top: 0;
  color: #C88F90;
  z-index: 4;
}

.head #nav #menu_checkbox {
  display: none;
  color: #A84D45;
}

.head #nav a {
  color: #A84D45;
  display: block;
}

@-webkit-keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -35px;
  }
  100% {
    top: -20px;
  }
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -35px;
  }
  100% {
    top: -20px;
  }
}

@-webkit-keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@-webkit-keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  80% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  90% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  80% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  90% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@media (max-width: 499px) {
  #menu_button {
    width: 49px;
    overflow: hidden;
  }
  #menu_label {
    position: relative;
    display: block;
    height: 39px;
    cursor: pointer;
  }
  #menu_label ul {
    display: none;
  }
  #menu_label:before, #menu_label:after, #menu_text_bar {
    position: absolute;
    width: 39px;
    height: 5px;
    background-color: #A84D45;
    z-index: 5;
    margin-top: 15px;
  }
  #menu_label:before, #menu_label:after {
    content: '';
    -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  }
  #menu_label:before {
    top: 0;
  }
  #menu_label:after {
    top: 12px;
  }
  #menu_text_bar {
    top: 24px;
  }
  #menu_text_bar:before {
    content: 'MENU';
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #C88F90;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: none;
  }
  #menu_checkbox:checked + #menu_label:before {
    left: -49px;
  }
  #menu_checkbox:checked + #menu_label:after {
    left: 49px;
  }
  #menu_checkbox:checked + #menu_label #menu_text_bar:before {
    display: block;
    -webkit-animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
            animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
  }
  #nav label {
    display: inline-block;
    font-size: 1.5em;
    padding: 10px;
  }
  #nav #nav-selectors {
    display: none;
    width: 50%;
    position: fixed;
    top: 0;
    color: #C88F90;
    z-index: 4;
  }
  #nav #nav-selectors li {
    display: block;
    padding: .5em 1em;
    border-bottom: #C88F90 1px solid;
    background-color: #DFDCD9;
  }
  #nav #menu_button input:checked ~ ul {
    display: block;
  }
}

@media (min-width: 500px) {
  .panel-image .name-box {
    font-size: 1em;
  }
  #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #nav ul li {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #nav ul li a {
    text-align: center;
    text-decoration: none;
    padding: .75em 1em;
    height: 25px;
  }
}
/*# sourceMappingURL=navmenu.css.map */