$dark: #3C3C30;
$light: #DFDCD9;
$pink: #C88F90;
$red: #A84D45;
$peru: #C08F38;
$lightpink:#ECDADA;

.box{
    .project {
        cursor: pointer;
        
        .original {
            display: flex;
            width: 300px; 
            height: 300px;
            overflow: hidden;
            margin: auto;
            // top: 0;
            // bottom: 0;
            // left: 0;
            // right: 0;
            border-radius: 5%;
        }
        .p6 {
            background-image: url(./docs/MentorMarket.png);
        }

        .p1 {
            background-image: url(./docs/Main_Menu.png);
        }

        .p2 {
            background-image: url(./docs/Helpsheets.png);
        }

        .p3 {
            background-image: url(./docs/Jila.png);
        }

        .p4 {
            background-image: url(./docs/portfolio.png);
        }

        .p5 {
            background-image: url(./docs/readitnwipe.png);
        }

        .description {
            color: $dark;
            text-align: center;
            width: 280px;
            height: 150px;
            margin-top: 180px;
            padding: 10px;
            font-size: .9rem;

            h2 {
                // color: $pink;
            }
        }
    }
}


@media (max-width: 499px) {
    .project {
        
        .final {
            margin-top: 200px;
            width: 300px;
            background-color: $lightpink;
            height: 100px;
        }
    }
}

@media (min-width: 500px) {
    .box{
        .project {
           
            .change {
                width: 0; 
                height: 400px;
                overflow: hidden;
                margin-left: -80px;
                transform: skew(-10deg);
                transition: width 1s ease;
                border-radius: 5%;
            }		

            .original:hover .change {
                width: 700px;
            }
            .original:focus-within .change {
                width:700px;
            }
            .original:active .change {
                width: 700px;
            }

            .final {
                width: 700px; 
                height: 700px;
                transform: skew(10deg);
                background-color: $lightpink;
                text-align: center;
                display: flex;
                flex-direction: column;
                border-radius: 5%;
                background-repeat: no-repeat;

                
            }		

            .description {
                color: $dark;
                margin-left: 110px;
                margin-top: 10px;
                background-color: rgba($color: $lightpink, $alpha: 0.5);
                height: 100px;
                border-radius: 20px;
                h2 {
                    color: $red;
                }
                // width: 300px;
                // height: 150px;
                // margin-left: 160px;
                // margin-top: 150px;
                // background-color: $dark;
            }
            
            .paw1 {
                background-image: url(./docs/paws/ricky-paw.png);
            }
            .paw2 {
                background-image: url(./docs/paws/margot-paw.png);
            }
            .paw5 {
                background-image: url(./docs/paws/monkey-paw.png);
            }
            .paw4 {
                background-image: url(./docs/paws/margot-paw.png);
            }
            .paw3 {
                background-image: url(./docs/paws/duncan-paw.png);
            }
            .paw6 {
                background-image: url(./docs/paws/ricky-paw.png);
            }
        }
    }
}