$dark: #3C3C30;
$light: #DFDCD9;
$pink: #C88F90;
$red: #A84D45;
$peru: #C08F38;

.box{
    .project {
        
        .original {
            display: flex;
            width: 300px; 
            height: 300px;
            overflow: hidden;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: 0 0 10px 1px $red;
        }

        .p1 {
            background-image: url(./docs/Main_Menu.png);
        }

        .p2 {
            background-image: url(./docs/Helpsheets.png);
        }

        .p3 {
            background-image: url(./docs/Jila.png);
        }

        .p4 {
            background-image: url(./docs/coding-cats.jpeg);
        }

        .p5 {
            background-image: url();
            background-color: $red;
        }

        .p6 {
            background-image: url();
            background-color: $pink;
        }


        .change {
            width: 0; 
            height: 400px;
            overflow: hidden;
            margin-left: -80px;
            transform: skew(-10deg);
            transition: width 1s ease;
        }		

        .original:hover .change {
            width: 700px;
        }

        .original:active .change {
            width: 700px;
        }

        .final {
            
            width: 700px; 
            height: 700px;
            transform: skew(10deg);
            background-color: $dark;
            text-align: center;
            display: flex;
            flex-direction: column;
            h2 {
                color: $pink;
            }
            
        }		

        .description {
            width: 150px;
            height: 150px;
            margin-left: 170px;
            margin-top: 50px;
        }

    }

}