* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #DFDCD9;
  color: #3C3C30;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  color: #3C3C30;
  text-align: center;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: "header" "content" "ducks" "footer";
}

.head {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3C3C30;
}

li {
  float: right;
}

li a {
  text-decoration: none;
  display: block;
  color: #DFDCD9;
  text-align: center;
  padding: .75em 1em;
  border-left: 1px solid #DFDCD9;
  font-size: .75em;
}

li a:hover {
  background-color: #A84D45;
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  height: 100%;
  width: 100%;
}

div.ducks {
  height: 90%;
  width: 90%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: ducks;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1em;
}

div.ducks img {
  width: 90%;
  border-radius: 5%;
  border: 2px solid #A84D45;
  padding: 1em;
}

div.ducks .name-box {
  width: 90%;
  background-color: #C88F90;
  color: #DFDCD9;
  font-family: 'Source Code Pro', monospace;
  opacity: 75%;
  padding: 1em;
  border: 2px solid #A84D45;
  outline: 1px dashed #DFDCD9;
  outline-offset: -15px;
  font-weight: bold;
  font-size: .75em;
  border-radius: 5%;
}

div.ducks .name-box .inner-code {
  color: #3C3C30;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  text-align: center;
  font-size: .75em;
  color: #A84D45;
  border-top: #A84D45 solid 1px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.container .box {
  height: 20em;
  width: 20em;
  border: 1px #3C3C30 solid;
  margin: 2em;
  background-color: #C88F90;
}

@media (min-width: 500px) {
  .wrapper {
    -ms-grid-columns: 0.25fr 3fr 0.25fr;
        grid-template-columns: 0.25fr 3fr 0.25fr;
        grid-template-areas: "header header header" ". ducks ." ". content ." "footer footer footer";
  }
  div.ducks .name-box {
    font-size: 1em;
  }
}

@media (min-width: 700px) {
  .wrapper {
    -ms-grid-columns: 0.25fr 4fr 2fr 0.25fr;
        grid-template-columns: 0.25fr 4fr 2fr 0.25fr;
        grid-template-areas: "header header header header" ". ducks content ." "footer footer footer footer";
  }
  div.ducks .name-box {
    font-size: 1.3em;
  }
}
/*# sourceMappingURL=main.css.map */