$dark: #3C3C30;
$light: #DFDCD9;
$pink: #C88F90;
$red: #A84D45;

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: $light;
    color: $dark;
}

h1{
    font-family: 'Fredericka the Great', cursive;
    color: $dark;
    text-align: center;
}

.wrapper{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "content"
    "ducks"
    "footer";
}

.head {
    grid-area: header;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $dark;
}

li {
    float: right;
}

li a {
    text-decoration: none;
    display: block;
    color: $light;
    text-align: center;
    padding: .75em 1em;
    border-left: 1px solid $light;
    font-size: .75em;
}



li a:hover {
    background-color: $red;
}

.content {
    grid-area: content;
    height: 100%;
    width: 100%;
}

div.ducks {
    height: 90%;
    width: 90%;
    grid-area: ducks;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1em;
    
    img{
        width: 90%;
        border-radius: 5%;
        border: 2px solid $red;
        padding: 1em;
    }

    .name-box{
        width: 90%;
        background-color: $pink;
        color: $light;
        font-family: 'Source Code Pro', monospace;
        opacity: 75%;
        padding: 1em;
        border: 2px solid $red;
        outline: 1px dashed $light;
        outline-offset: -15px;
        font-weight: bold;
        font-size: .75em;
        border-radius: 5%;
    
        .inner-code{
            color: $dark;
        }
    }
}
  
.footer {
    grid-area: footer;
    text-align: center;
    font-size: .75em;
    color: $red;
    border-top: $red solid 1px;
}



.container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

    .box{
        height: 20em;
        width: 20em;
        border: 1px $dark solid;
        margin: 2em;
        background-color: #C88F90
    }
}


@media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 0.25fr 3fr 0.25fr;
      grid-template-areas: 
        "header header header"
        ". ducks ."
        ". content ."
        "footer footer footer";
    }
    div.ducks .name-box{
        font-size: 1em;
    }

}

// large sized screen style changes
@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 0.25fr 4fr 2fr 0.25fr;
        grid-template-areas: 
        "header header header header"
        ". ducks content ."
        "footer footer footer footer"
    }
    div.ducks .name-box{
        font-size: 1.3em;
    }
}


